<h2>Eliminar Autor</h2>

<p>¿Seguro que deseas eliminar este autor?</p>

<form method="POST">
    <button class="btn btn-danger">Eliminar</button>
    <a href="/authors" class="btn btn-secondary">Cancelar</a>
</form>