<h2>Editar Autor</h2>

<form method="POST">
    <input type="text" name="name" value="{{author.name}}" class="form-control mb-2">
    <input type="email" name="email" value="{{author.email}}" class="form-control mb-2">

    <button class="btn btn-success">Actualizar</button>
    <a href="/authors" class="btn btn-secondary">Volver</a>
</form>