<h2>Editar Categoría</h2>

<form method="POST">
    <input type="text" name="name" value="{{category.name}}" class="form-control mb-2">
    <input type="text" name="description" value="{{category.description}}" class="form-control mb-2">

    <button class="btn btn-success">Actualizar</button>
    <a href="/categories" class="btn btn-secondary">Volver</a>
</form>