<h2>Eliminar Editorial</h2>

<p>¿Seguro que deseas eliminar esta editorial?</p>

<form method="POST">
    <button class="btn btn-danger">Eliminar</button>
    <a href="/editorials" class="btn btn-secondary">Cancelar</a>
</form>