<h2>Eliminar Libro</h2>

<p>¿Seguro que deseas eliminar este libro?</p>

<form method="POST">
    <button class="btn btn-danger">Eliminar</button>
    <a href="/books" class="btn btn-secondary">Cancelar</a>
</form>